<div class="pieces-group sortable">
  <ul id="sortable">
    <% @pieces.each do |piece| %>
      <li class="single-piece body">
        <!-- <a href="" id="#delete-piece" data-id="<%= piece.id %>">x</a> -->
        <p class="single-piece-title"><%= piece.title.upcase %></p>
        <p align="middle"><img src="<%= piece.url %>" class="single-piece-img"/></p>
        <p class="piece-info" title="Does it work?"><i class="fa fa-info-circle fa-2x"></i></p>
      </li>
    <% end %>
  </ul>
</div>
