<%= render "shared/sidebar", artist: @artist %>
<div class="artist-header">
  <!-- <h1 class="artists-title inline"><%= @artist.name.upcase %></h1>
   --><%#= link_to 'New Expedition', new_expedition_path, class: "btn btn-primary btn-xl inline btn-new-expedition" %>
</div>

<%= render "pieces" %>
