<div class="sidebar">
  <div id="accordion">
    <% artist.artist_details.each do |detail| %>
      <div class="group">
        <h3><i class="fa fa-lightbulb-o"></i> <%= detail.title %></h3>
        <div>
          <p><%= detail.detail %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
