<div class="expeditions-header">
  <h1 class="expeditions-title inline">Expeditions</h1>
  <%= link_to 'New Expedition', new_expedition_path, class: "btn btn-primary btn-xl inline btn-new-expedition" %>
</div>

<div class="expeditions-group">
  <ul id="sortable">
    <% @expeditions.each do |expedition| %>
      <li class="single-expedition body"><%= expedition.title %></li>
    <% end %>
  </ul>
</div>
